/RMI-test/RMI.libs/nbproject/private/
/RMI-test/RMI.server/nbproject/private/
/RMI-test/RMI.client/nbproject/private/
/RMI-test/RMI.libs/build/
/RMI-test/RMI.server/build/
/RMI-test/RMI.client/build/
/APJ2-asgmnt/nbproject/private/
/APJ2-asgmnt/build/